PassengerEnabled on

<VirtualHost *:80>
    ServerName localhost

    DocumentRoot {{ ansible_env.HOME }}/hello_world/public

    <Directory {{ ansible_env.HOME }}/hello_world/public>
        Allow from all
        Options -MultiViews
        Require all granted
    </Directory>
</VirtualHost>

